---
// MainLayout.astro
const { title = "Hank Chiu - Web Front-End Expert" } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<nav>
				<a href="/">Home</a>
				<a href="/experiences">Experiences</a>
				<a href="/projects">Projects</a>
			</nav>
		</header>
		<main>
			<slot />
		</main>
		<footer>
			<p>© 2023 - Hank Chiu</p>
		</footer>
	</body>
</html>

<style is:global>
	@import "../styles/global.css";
</style> 